header{
	height:140px;
	background-color:red;
	text-align: center;
}



header ul{
	text-align: center;
}
header li{
	float:left;
	list-style: none;
	text-align: center;
	margin: 0px 90px;
	font-size: 20px;
padding-bottom: 60px;
	text-align: center;
	padding-top: 50px;
}
header a:hover{
	border:1px solid black;
	border-radius: 20px;
	padding:20px;
	background-color: #990000;
	color:white;
	font-size: 25px;

}
.list1{
	text-indent: -9999999px;
	background-image: url("marvellogo.png");
    background-size: cover;
    background-repeat: no-repeat;
	width: 350px;
	height: 140px;
	padding:0px 0px;
	margin:0px 0px;
}
header a{
	text-decoration: none;
	color: black;
}

.container img{
	width:100%;

}